body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    margin: 5px;
    color: aliceblue;
}
.Banner{
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: hsla(83, 68%, 28%, 0.575);
    width: 100%;
    height: 600px;
    backdrop-filter: url(commonfilters.svg#filter);
}
.link-button{
    background-color: orangered;
    padding: 8px 5px;
    font-weight: 700;
    border-radius: 3px;
    color: aliceblue;
    text-decoration: none;
}